In [2]:
import numpy as np
import pandas as pd
import math

In [3]:
subject = '14'
experiment = '1'

In [10]:
df = pd.read_table(subject + '.txt')
df.rename(columns={'# frameNo': 'time', 'x_coordinate(jpg, png, ...)': 'x', 'y_coordinate(jpg, png, ...)': 'y', 
                   'fixation_or_not': 'fix', 'fixation_centroid_x': 'x_fix', 'fixation_centroid_y': 'y_fix', 
                   'fixation_duration': 'fix_dur', 'nearestWord': 'word', 'RetrievedDocument': 'doc'}, inplace=True)

In [11]:
df

,# frameNo,"x_coordinate(jpg, png, ...)","y_coordinate(jpg, png, ...)",fixation_or_not,fixation_centroid_x,fixation_centroid_y,fixation_duration,nearestWord,RetrievedDocument
0,3,-1,-1,--------,-9999.000,-9999.000,2,----,NaN
1,14,-1,-1,Fixation,-0.500,-0.500,4,----,NaN
2,15,-1,-1,Fixation,-0.500,-0.500,6,----,NaN
3,16,-1,-1,Fixation,-0.500,-0.500,8,----,image-01
4,17,-1,-1,Fixation,-0.500,-0.500,10,----,NaN
...,...,...,...,...,...,...,...,...,...
49980,49993,413,653,--------,-9999.000,-9999.000,3,----,NaN
49981,49994,413,653,Fixation,423.000,646.000,4,----,NaN
49982,49995,454,659,Fixation,429.200,648.600,5,----,NaN
49983,49996,465,651,Fixation,435.167,649.000,6,----,NaN
49984,49997,444,671,Fixation,436.429,652.143,7,----,NaN

In [9]:
df.tail()

       # frameNo    x    y       fix     x_fix     y_fix  fix_dur  word  doc
49980      49993  413  653  -------- -9999.000 -9999.000        3  ----  NaN
49981      49994  413  653  Fixation   423.000   646.000        4  ----  NaN
49982      49995  454  659  Fixation   429.200   648.600        5  ----  NaN
49983      49996  465  651  Fixation   435.167   649.000        6  ----  NaN
49984      49997  444  671  Fixation   436.429   652.143        7  ----  NaN

In [29]:
# Time Correction
for index, rows in df.iterrows():
    frame = rows['time']
    _time = frame/3
    df.loc[index, 'time'] = _time

In [30]:
df = df[['time', 'x' , 'y' , 'fix', 'x_fix', 'y_fix', 'fix_dur', 'doc' ]]

In [31]:
df = df[~pd.isnull(df.doc)]

In [32]:
fixation_list = list()

In [33]:
flg = fix_index = fix_dur = x = y = 0
for index, rows in df.iterrows():
    if rows['fix'] == 'Fixation' and flg == 0:
        flg = 1
        fix_index += 1
        fix_dur = rows['fix_dur']
        x = rows['x_fix']
        y = rows['y_fix']
    elif rows['fix'] == 'Fixation' and flg == 1:
        fix_dur = rows['fix_dur']
        x = rows['x_fix']
        y = rows['y_fix']
    elif rows['fix'] != 'Fixation' and flg == 1:
        flg = 0
        if x < 0:
            fix_index -= 1
        else:  
            fixation_list.append([rows['time'], fix_index, x, y, fix_dur, rows['doc'], subject, experiment])
    else:
        continue

In [34]:
print fix_index

3187

In [35]:
fdf = pd.DataFrame(fixation_list)
fdf.rename(columns={0: 'time', 1: 'fix_index', 2: 'x', 3: 'y', 4: 'fix_dur', 5: 'doc', 6: 'subject', 7: 'cond'}, inplace=True)

In [37]:
fdf.head()

   time  fix_index         x        y  fix_dur       doc subject cond
0    39          1  1191.240  358.706       17  image-01      14    1
1    47          2   511.647  639.824       17  image-01      14    1
2    50          3   750.833  491.000        6  image-01      14    1
3    54          4   656.000  496.636       11  image-01      14    1
4    59          5   739.429  465.643       14  image-01      14    1

In [38]:
fdf.to_csv('CSV/subjects/' + subject + '.csv', index = False, header = False)

In [39]:
fdf.tail()

       time  fix_index        x        y  fix_dur       doc subject cond
3182  16526       3183  815.600  1619.20        5  image-07      14    1
3183  16528       3184  645.250  1673.75        4  image-07      14    1
3184  16531       3185  557.667  1595.89        9  image-07      14    1
3185  16536       3186  326.800   886.20        5  image-07      14    1
3186  16538       3187  360.500   980.00        4  image-07      14    1